@model StackUnderflow.Data.Entities.Question

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<a asp-action="Index">Back to List</a>

<div>
    <h3>Question</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>
        <dd id="votes">
            @Html.DisplayFor(model => model.Votes)
        </dd>
    </dl>
    <div>
        <button id="upVote">Up Vote</button> |
        <button id="downVote">Down Vote</button> |
        @Html.ActionLink("Create Response", "Create", "Responses", new { id = Model.Id }, null) |
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</div>

@if (Model.Responses.Count > 0)
{
<div>
    <h4>Responses</h4>
    <hr />
    @foreach (var response in Model.Responses)
    {
    <dl class="dl-horizontal">
        <dt>Author</dt>
        <dd>@response.Author</dd>
        <dt>Body</dt>
        <dd>@response.Body</dd>
        <dt>Details</dt>
        <dd>@Html.ActionLink("Response Details", "Details", "Responses", new { id = response.Id }, null)</dd>
    </dl>
    }
</div>
}

<script src="https://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $("#upVote").on("click", function () {

            var postData = {
                __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
                id: "@Model.Id"
            };

            $.ajax({
                url: "/Questions/UpVote/@Model.Id",
                type: "POST",
                data: postData
            })
            .done(function(partialViewResult) {
                $("#votes").html(partialViewResult.Votes);
            });
        });

        $("#downVote").on("click", function () {

            var postData = {
                __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
                id: "@Model.Id"
            };

            $.ajax({
                url: "/Questions/DownVote/@Model.Id",
                type: "POST",
                data: postData
            })
            .done(function(partialViewResult) {
                $("#votes").html(partialViewResult.Votes);
            });
        });
    });
</script>
