@model StackUnderflow.Data.Entities.Question

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>
    </dl>
</div>

@if (Model.Responses.Count > 0)
{

        @foreach (var response in Model.Responses)
        {
        <li>
            @Html.ActionLink("Response Details", "Details", "Responses", new { id = response.Id }, null)<br />
            @response.Author<br />
            @response.Body<br />
        </li>
        }
}

<div>
    @Html.ActionLink("Up Vote", "UpVote", "Questions", new { id = Model.Id }) |
    @Html.ActionLink("Down Vote", "DownVote", "Questions", new { id = Model.Id }) |
    @Html.ActionLink("Create Response", "Create", "Responses", new { id = Model.Id }) |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
