@model StackUnderflow.Data.Entities.Response

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@Html.ActionLink("Back", "Details", "Questions", new { id = Model.QuestionId }, null)

<div>
    <h3>Response</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSolution)
        </dd>
    </dl>
    <button id="upVote">Up Vote</button> |
    <button id="downVote">Down Vote</button> |
    @Html.ActionLink("Create Comment", "Create", "Comments", new { id = Model.Id }, null) |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>

@if (Model.Comments.Count > 0)
{
    <div>
        <h4>Comments</h4>
        <hr />
        @foreach (var comment in Model.Comments)
        {
            <dl class="dl-horizontal">
                <dt>Author</dt>
                <dd>@comment.Author</dd>
                <dt>Body</dt>
                <dd>@comment.Body</dd>
            </dl>
        }
    </div>
}


<script src="https://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#upVote").on("click", function () {

            var postData = {
                __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
                id: "@Model.Id"
            };

            $.ajax({
                url: "/Responses/UpVote/@Model.Id",
                type: "POST",
                data: postData
            })
                .done(function (partialViewResult) {
                    $("#votes").html(partialViewResult.Votes);
                });
        });

        $("#downVote").on("click", function () {

            var postData = {
                __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
                id: "@Model.Id"
            };

            $.ajax({
                url: "/Responses/DownVote/@Model.Id",
                type: "POST",
                data: postData
            })
                .done(function (partialViewResult) {
                    $("#votes").html(partialViewResult.Votes);
                });
        });
    });
</script>