@model StackUnderflow.Data.Entities.Response

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@Html.ActionLink("Back", "Details", "Questions", new { id = Model.QuestionId }, null)

<div>
    <h3>Response</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSolution)
        </dd>
    </dl>
    @Html.ActionLink("Up Vote", "UpVote", "Responses", new { id = Model.Id }, null) |
    @Html.ActionLink("Down Vote", "DownVote", "Responses", new { id = Model.Id }, null) |
    @Html.ActionLink("Create Comment", "Create", "Comments", new { id = Model.Id }, null) |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>

@if (Model.Comments.Count > 0)
{
<div>
    <h4>Comments</h4>
    <hr />
    @foreach (var comment in Model.Comments)
    {
        <dl class="dl-horizontal">
            <dt>Author</dt>
            <dd>@comment.Author</dd>
            <dt>Body</dt>
            <dd>@comment.Body</dd>
        </dl>
    }
</div>
}
